<div>
    <h2>Producto agregado</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        <div id="listaProductos">

        </div>
        <script src="/socket.io/socket.io.js"></script>    
        <script src="tablaProductos.js"></script>
 
    </table>
</div>