<div>
  <h2>Producto agregado</h2>
  <table>
      <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
      </tr>
      <% for (var index=0; index < postData.length; index++) { %>
        <tr>
          <td><%= postData[index].title %></td>
          <td><%= postData[index].price %></td>
          <td><img src= <%= postData[index].thumbnail %> alt= <%= postData[index].thumbnail %> ></td>
        </tr>
      <% } %>
      
  </table>
</div>

<br><hr>

<div>
  <form action= "/" method="GET">
      <button>Get</button>
  </form>
</div>
