
{{#if mainStatus}} 
  <h2>Ingrese producto</h2>
    <form action="/productos" method="POST">
      Nombre: <input type="text" name="title">
      Precio: <input type="text" name="price">
      Imagen: <input type="text" name="thumbnail">
      <button>Aceptar</button>
    </form>

    <br><hr>

  {{#unless postStatus}} 
    <h2>Listar todos los productos</h2>
      <form action="/productos" method="GET">
        <button>Aceptar</button>
      </form>

    <br><hr>
  {{/unless}} 
  

{{/if}}


{{#if getStatus}} 
  {{> get }}
{{/if}}

{{#if postStatus}} 
  {{> post}}
{{/if}} 