h2 Vista de productos

if getData.length
  table
    tbody
      tr
        th Nombre
        th Precio
        th Foto
        
      each item in getData
        tr
          td= item.title
          td= item.price
          td 
            img(src= item.thumbnail alt=item.thumbnail) 

else
  h3 No se encontraron productos
  
br
hr

form(action='/' method='GET')
  button Post