<h2>Login de Usuario</h2>
  <form action="/login" method = 'POST'>
    Email: <input type="text" name="username">
    Contraseña: <input type="text" name="password">
    <button value="Login">Login</button>
    <button onclick="" type="button">Ir a Register</button>
  </form>